.hidden {
  display: none;
}
.show {
  display: block;
}

#modal-container {
  position: fixed;
  top: 30px;
  left: 50%;
  width: 375px;
  height: 40%;
  background: white;
  margin-left: -187.5px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
