<div>
  <button (click)="initLoginModal()">Load Modal</button>
</div>

<router-outlet></router-outlet>

<!-- Custom modal setup -->
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>
