.sample-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 50%;
}
.sample-text {
  color: black;
  font-size: 20px;
  text-align: center;
}
.sample-close {
  display: flex;
  flex-direction: row;
}
.sample-close button {
  width: 90px;
  height: 40px;
  color: tomato;
}
