<div class="sample-container">
  <div *ngIf="stepOne" class="sample-text">
    STEP A
  </div>

  <div *ngIf="stepTwo" class="sample-text">
    STEP B
  </div>

  <div class="sample-close">
    <button (click)="continue()">
      Next
    </button>

    <button (click)="close()">
      Close Modal
    </button>
  </div>
</div>
